.add-address {
    .header__holder {
        position: fixed;
        background: var(--black);
        width: 360px;
        z-index: 3;
    }

    &__header-arrow {
        position: absolute;
        left: 0;
        margin-left: 16px;
        transform: translateY(-10%);
        --iconcolor: var(--white)
    }

    &__header-title {
        margin: 0 auto !important;
    }

    &__content {
        padding-top: 60px;
        padding-bottom: 90px;
    }

    &__form {
        width: 100%;
    }

    &__unactive-input {
        cursor: not-allowed;
        pointer-events: none;
    }

    &__input-article {
        color: var(--gray-text-active);
    }

    &__input-holder-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__input-inactive {
        opacity: 0.3;
        pointer-events: none;
    }
    .add-address__optional-input {
        .inputcard {
            &__input-border {
                border: 1px solid var(--gray-text-active);
            }

            &__input {
                color: var(--gray-text-active);

                &::placeholder {
                    color: var(--gray-text-active);
                }
            }
        }
    }

}