.main-catalog {
  &_props {
    min-height: 1000px;
    padding-top: 16px;
    padding-bottom: 92px;
  }

  &__delivery-option {
    color: var(--gray-text-inactive);
    border: 1px solid var(--dark-gray);
    background: none;
    flex: 1;
    padding: 6px 20px;

    &_active {
      color: var(--yellow);
      border: 1px solid var(--yellow);
    }
  }

  &__add-adress {
    text-decoration: underline;
    margin: 16px auto 0 auto;
  }

  &__goods-nav-holder {
    margin-top: 40px;
    padding-left: 16px;
    overflow: hidden;
    .swiper-slide {
      width: fit-content !important;
    }
  }
}