.header {
    &__holder {
        justify-content: space-between;
        padding: 12px 0px;
    }

    &__cities-holder {
        gap: 4px;
        align-items: center;
    }

    &__cities-dropdown {
        background: var(--black);
        border: none;
        outline: none;
        padding: 5px;
        
    }

    &__cities-dropdown-option {
        background: var(--black);
        :hover {
            background: var(--dark-gray);
        }
    }
    

    &__actions-holder {
        align-items: center;
    }

   
}
