:root {
    --black: #1B1B1B;
    --blue: #1D99D6;
    --purple: #7F3F98;
    --red: #ED1C2F;
    --orange: #F47921;
    --yellow: #FABF2B;
    --white: #fff;
    --gray-text-inactive:#8F8F8F;
    --gray-text-active: #D9D9D9;
    --dark-gray: #3E3E3E;
    --button-color: var(--yellow) 
}
